.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.tasksList {
  display: flex;
  flex-direction: column;
}

.noTasks {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
