.addTaskButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #29a19c;
  border-radius: 8px;
  padding: 10px 25px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
