.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid #29a19c;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;

  input[type='checkbox'] {
    display: grid;
    place-content: center;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: '';
      background: url('../../../assets/checkMarkIcon.svg') no-repeat;
      width: 14px;
      height: 10px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:checked::before {
      opacity: 1;
    }
  }
}
